{% extends 'base.html' %}
{% load i18n %}
{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} /
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
{% endblock %}
&rsaquo; {% translate 'Password change' %}
{% block content %}
<p>{% translate 'Your password was changed.' %}</p>
<a href="{% url 'users_detail' user.id %}">{% translate 'Your Profile' %}</a>
{% endblock %}